<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/index.css" rel="stylesheet">
    <title>CAC-UPB</title>
    <link rel="icon" href="../img/logo.png">
</head>
<body>
    
    <div class="container">
        <div class="content">
            <header>
                <nav>
                    <div class="nav-flexbox">
                        <img src="../img/logo.png" alt="">
                        <a href="/"><u>Regresar</u></a>
                    </div>
                </nav>
            </header>
            <div class="index">
                <h1>¡Gracias por solicitar una cita!</h1>
                <h2>Su solicitud ha sido recibida y será procesada lo antes posible. Se ha generado un número de referencia para su cita:</h2>
                <h1>1</h1>
                <h2>Mientras tanto, puede consultar el estado de su solicitud en cualquier moento ingresando a nuestra página de seguimiento de la cola.</h2>
            </div>
            <div class="index-menu-flexbox">
                <div class="btn"><a href="/appointments">Consulta de Turno</a></div>  
            </div>
        </div>
    </div>
</body>
</html>