<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/index.css" rel="stylesheet">
    <title>CAC-UPB</title>
    <link rel="icon" href="../img/logo.png">
</head>
<body>
    
    <div class="container">
        <div class="content">
            <header>
                <nav>
                    <div class="nav-flexbox">
                        <img src="../img/logo.png" alt="">
                        <a href="/"><u>Regresar</u></a>
                    </div>
                </nav>
            </header>

            <div class="form">
                <form class="appointment-form" action="/form" method="post" id="appointment-form">
                    <div class="form-left-group-flexbox">

                        <label for="name" class="form-label">Nombre</label>
                        <input type="text" id="name" class="form-control" name="name" required>

                        <label for="id_client" class="form-label">Identificación</label>
                        <input type="text" id="id_client" name="id_client" class="form-control" required>

                        <label for="id_type" class="form-label">Tipo de Cita</label>
                        <select id="id_type" name="id_type" class="form-control" required>
                        <option value="claims">Reclamos</option>
                        <option value="returns">Devoluciones</option>
                        <option value="consultations">Asesoría</option>
                        </select>

                        <label for="date" class="form-label">Fecha</label>
                        <input type="date" id="date" name="date" class="form-control" required>

                        <label for="time" class="form-label">Hora</label>
                        <input type="time" id="time" name="time" class="form-control" required>

                    </div>
                    <div class="form-right-group-flexbox">

                        <label for="status" class="form-label">Tipo de Cita</label>
                        <select id="status" name="status" class="form-control" required>
                        <option value="Normal">Normal</option>
                        <option value="Premium">Premium</option>
                        </select>

                        <label for="address" class="form-label">Dirección</label>
                        <input type="text" id="address" name="address" class="form-control" required>

                        <label for="id_service_point" class="form-label">Lugar</label>
                        <select id="id_service_point" name="id_service_point" class="form-control" required>
                        <option value="Sede A">Sede A</option>
                        <option value="Sede B">Sede B</option>
                        </select>

                        <label for="description" class="form-label">Descripción</label>
                        <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                    </div>
                    <div class="form-btn-flexbox">
                        <div class="btn"><button type="submit"></button></div>
                    </div>
             </form>
        </div>
</body>
</html>