:root {
    --font-bg: #cccccc;
    --font-gray: #8F9BB3;
    --body-bg: #ffffff;
    --search-bg: rgb(0, 0, 0);
    --btn-bg: #33cc33;
    --btn-over-bg: #009900;
    --border-radius: 4px;
    --shadow: rgb(156, 166, 185) 0px 1px 4px 0px;
  }
  
  body {
    background-color: var(--body-bg);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    font-weight: 100;
    color: var(--search-bg);
  }
  
  .font-gray {
    color: var(--font-gray);
  }
  
  .search-bgy {
    color: var(--search-bg);
  }
  
  a {
    display: block; 
    text-decoration: none;
    text-transform: none;
    color: var(--font-bg);
  }
  
  .container {
    margin: 8px;
    padding: 8px;
  }

  .content {
    max-width: 1366px;
    margin: 0 auto;
  }

  .index {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }

  .index-menu-flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Estilos para los enlaces como botones */
  .index-menu-flexbox > div {
    display: inline-block;
    padding: 10px 20px;
    width: 200px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    flex: 1;
  }

  .btn {
    border: none;
    padding: 12px 32px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: var(--border-radius);
    background-color: var(--btn-bg);
  }

  .btn > a {
    color: white;
  }
  
  .btn:hover {
    background-color: var(--btn-over-bg);
  }
  
  /* Estilos para el navbar */
  .nav-flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--body-bg);
    border-bottom: 2px solid #ccc;
    color: #fff;
    padding: 10px;
  }
  
  .nav-flexbox > img {
    height: 40px;
    margin-right: 10px;
  }
