<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/index.css" rel="stylesheet">
    <title>CAC-UPB</title>
    <link rel="icon" href="../img/logo.png">
    
</head>
<body>
    
    <div class="container">
        <div class="content">
            <header>
                <nav>
                    <div class="nav-flexbox">
                        <img src="../img/logo.png" alt="">
                        <a href="index.html"><u>Regresar</u></a>
                    </div>
                </nav>
            </header>

        <h2>Número de Turnos: 3</h2>

        <div class="appointment-table">
        <table>
            <thead>
              <tr>
                <th>No.</th>
                <th>Nombre</th>
                <th>Lugar</th>
                <th>Fecha</th>
                <th>Prioridad</th>
                <th>Servicio</th>
                <th>Tiempo de Espera</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Santiago</td>
                <td>Sede A</td>
                <td>25/05/23 10:00</td>
                <td>Normal</td>
                <td>Devoluciones</td>
                <td>00:00:00</td>
                <td>Realizada</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Alejandra</td>
                <td>Sede A</td>
                <td>25/05/23 10:00</td>
                <td>Premium</td>
                <td>Devoluciones</td>
                <td>00:20:00</td>
                <td>Pendiente</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Francisco</td>
                <td>Sede A</td>
                <td>25/05/23 10:00</td>
                <td>Normal</td>
                <td>Reclamos</td>
                <td>01:00:00</td>
                <td>Pendiente</td>
              </tr>
            </tbody>
          </table>
        </div>
</body>
</html>