<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/index.css" rel="stylesheet">
    <title>CAC-UPB</title>
    <link rel="icon" href="../img/logo.png">
    
</head>
<body>
    
    <div class="container">
        <div class="content">
            <header>
                <nav>
                    <div class="nav-flexbox">
                        <img src="../img/logo.png" alt="">
                        <a href="index.html"><u>Regresar</u></a>
                    </div>
                </nav>
            </header>
            <div class="cancel-form">
                <form class="appointment-form" action="" id="appointment-form">
                    <div class="form-left-group-flexbox">

                        <label for="firstname" class="form-label">Nombre</label>
                        <input type="text" id="firstname" class="form-control" name="firstname" required>

                        <label for="ref" class="form-label">Número de Referencia</label>
                        <input type="text" id="ref" name="ref" class="form-control" required>
                    </div>
             </form>
        </div>
        <div class="form-btn-flexbox">
            <div class="btn"><a href="#success-message" type="submit">Enviar</a></div>
            <div id="success-message">Operación exitosa</div>
        </div>

</body>
</html>