<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/index.css" rel="stylesheet">
    <title>CAC-UPB</title>
    <link rel="icon" href="../img/logo.png">
</head>
<body>
    
    <div class="container">
        <div class="content">
            <header>
                <nav>
                    <div class="nav-flexbox">
                        <img src="../img/logo.png" alt="">
                        <a href="index.html"><u>Regresar</u></a>
                    </div>
                </nav>
            </header>
            <div class="index">
                <h1>Solicitud de Citas</h1>
                <h2>Obtenga una respuesta rápida a sus solicitudes de atención al cliente</h2>
            </div>
            <div class="index-menu-flexbox">
                <div class="btn"><a href="form.html">Crear Cita</a></div>
                <div class="btn"><a href="cancel.html">Cancelar Cita</a></div>
                <div class="btn"><a href="appointments.html">Consulta de Turno</a></div>  
            </div>
        </div>
    </div>
</body>
</html>